
        <div class="row">
          <div class="col-sm-12">
            <h1>6&deg; of Karen Bacon</h1>
            <p class="lead">See how you connect to Karen.</p>
          </div>
          <div class="col-sm-12 added-margin">
            <img src="images/Bacon-2.jpg" alt="Karen Bacon" class="img-circle profile">
          </div>
          <div class="col-sm-12">
            <button type="button" class="btn btn-learn btn-lg" id="learn" data-toggle="tooltip" data-placement="top" title="View Article onthe YU blog">Learn About Karen</button>
            <!-- <button type="button" class="btn btn-connect btn-lg" id="connect" data-toggle="tooltip" data-placement="top" title="Click here to connect to Karen">Connect to Karen</button> -->
            <a class="btn btn-connect btn-lg"
              id="connect" ng-href="#/signup"
              data-toggle="tooltip"
              data-placement="top" title="Click here to connect to Karen">Connect to Karen</a>

          </div>
      </div>
